.contenedorCard{
    width: 25%;
    margin:20px;
    background-color:grey;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:10px;
    text-align:center;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    border:1px solid black;
    transition: padding 0.5s ease ;
    -webkit-animation: padding 1s ease ;
    -webkit-transition: padding 0.5s ease ;
    -moz-transition: padding 0.5s ease ;
    -ms-transition: padding 0.5s ease ;
    -o-transition: padding 0.5s ease ;
}
.contenedorCard:hover{
    border: 2px solid black;
    -webkit-box-shadow: 0px -2px 15px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -2px 15px 5px rgba(0,0,0,0.75);
box-shadow: 0px -2px 15px 5px rgba(0,0,0,0.75);
    
}

.contenedorCard img{
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.nombreProducto{
    margin:20px;
}
.botonDetalles{
    background-color:lightgrey;
    font-size:1.2em;
    font-weight:bold;
    margin:10px;
    padding:10px;
    width: 70%;
    cursor:pointer;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
    text-decoration:none;
    color:black;
}
.botonDetalles:hover{
    background-color:RGB(14, 4, 207);
    border:1px solid black;

}
.precio{
    margin:20px;
}
@media (max-width:880px) {
.contenedorCard{
    width: 80%;
    margin:20px auto;
}
}
