.carritoContenedor{
    width: 90%;
    min-height:30vh;
    display:flex;
    flex-direction:column;  
    align-items:center;
    justify-content:flex-end;
    margin:50px;
}
.botonVaciarCarrito{
    width: 12em;
    padding:1em;
   margin:20px auto;
   background-color:blue;
   border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border: 1px solid black;
    font-size:1em;
    font-weight:bold;
    cursor: pointer;
}
.botonCheckout{
    padding:0.6em;
    width: 90%;
    background-color:blue;
    text-align:center;
    color:black;
    font-weight:bold;
    font-size:1.3em;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border: 1px solid black;
    text-decoration:none;
}
.cuerpo{
    display:flex;
    justify-content:center;
}
.contenedorCartItem{
    display:flex;
    margin:10px;
    justify-content:space-between;
    align-items:center;
    width: 90%;
    min-height:10vh;
    background-color:grey;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.botonEliminarDelCarrito{
    padding:1.2em;
    background-color:red;
    margin-right:20px;
    font-weight:bold;
}
.nombreCartItem{
    font-size: 1.3em;
}
.contenedorCartItem img{
    height: 5em;
    width: 5em;
    margin:10px;
    margin-left:20px;
}
.contenedorSinItems{
    display:flex;
    flex-direction:column;
    align-items:center;

}
.noHayItems{
    text-align:center;
    margin:30px;
}
.volverProductos{
    font-size:1.2em;
    padding:1.5em;
    width: 10em;
    background-color:blue;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    color:black;
    font-weight:bold;
    text-decoration:none;
    margin:30px;
    display:flex;
   justify-content:center;
    align-items:center;
}
@media (max-width:880px){
    .contenedorCartItem{
flex-direction:column;
padding:10px;
width:50%;
    }
    .contenedorCartItem h3{
        margin:5px;
    }
}