.navContainer{
    height: 80px;
    width: 100%;
    background-color: lightgrey;
    display:flex;
    align-items:center;
}
.navContainer h1{
    margin:10px;
}
.ulNav{
    display:flex;
    margin: 0 auto;
    width: 50%;
    justify-content:space-around;
    list-style:none;
    text-decoration: none;
}
.navLink{
    text-decoration: none;
    color:black;
    
}
.ulNav{
    width: 80%;
}
.ulNav li{
    font-size:23px;
    text-decoration: none;
    color:black;
    cursor:pointer; 
    padding:7px;   
    margin:20px;
}
.ulNav li:hover{
    font-size:25px;
    font-weight:bold;
}
@media (max-width:880px){
    .navContainer h1{
        font-size:1.2em;
    }
    .ulNav{
        width: 80%; 
    }
    .ulNav li{
        font-size:15px; 
        padding:3px; 
        margin:5px; 
    }
    .ulNav li:hover{
        font-size:20px;
    }
    .navContainer{
flex-direction:column;
height: auto;
padding:5px;
    }
}
@media (max-width:380px){
    .ulNav{
        flex-direction:column;
       align-items:center;
       margin:10px;
    }
}