.contenedorCheckout{
    display:flex;
    flex-direction:column;
    align-items:center; 
}
.contenedorCheckout h1{
    margin:30px;
    font-size:2.5em;
}
.idCompra{
    font-size:1.5em;
    margin:20px;
}

.idCompra strong{
    color:red;
}
.cargar{
    height: 150px;
    width:150px;
    border-radius:50%;
    margin:100px auto;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    animation: cargando 1.5s infinite;
    -webkit-animation: cargando 1.5s infinite;
}
@keyframes cargando {
    0%{border-top: 5px solid blue}
    30%{border-right: 5px solid blue}
    60%{border-bottom: 5px solid blue}
    90%{border-left: 5px solid blue}
}
@media (max-width:880px) {
    .idCompra{
        font-size:0.7em;
        margin:20px;
    }
}